In [1]:
import sys
import os
import shutil
import warnings
warnings.filterwarnings("ignore")
warnings.filterwarnings("ignore", category=DeprecationWarning) 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt;
# for this course we use locally stored version of pyemu and flopy to avoid version conflicts
import pyemu
import flopy

sys.path.insert(0,"..")
import herebedragons as hbd

In [2]:
# specify the temporary working folder
t_d = os.path.join('..','peterson_template')

In [3]:
pst_file = "peterson_mf6.pst"
pst = pyemu.Pst(os.path.join(t_d, pst_file))

In [4]:
obs_df = pst.observation_data
obs_df.head()

,obsnme,obsval,weight,obgnme,oname,otype,time,usecol
obsnme,,,,,,,,
oname:hds_otype:lst_usecol:fountainno.1_time:10013,oname:hds_otype:lst_usecol:fountainno.1_time:10013,1680.910414,1.0,oname:hds_otype:lst_usecol:fountainno.1,hds,lst,10013,fountainno.1
oname:hds_otype:lst_usecol:fountainno.1_time:10043,oname:hds_otype:lst_usecol:fountainno.1_time:10043,1680.906893,1.0,oname:hds_otype:lst_usecol:fountainno.1,hds,lst,10043,fountainno.1
oname:hds_otype:lst_usecol:fountainno.1_time:1005,oname:hds_otype:lst_usecol:fountainno.1_time:1005,1681.077101,1.0,oname:hds_otype:lst_usecol:fountainno.1,hds,lst,1005,fountainno.1
oname:hds_otype:lst_usecol:fountainno.1_time:10074,oname:hds_otype:lst_usecol:fountainno.1_time:10074,1680.910079,1.0,oname:hds_otype:lst_usecol:fountainno.1,hds,lst,10074,fountainno.1
oname:hds_otype:lst_usecol:fountainno.1_time:10105,oname:hds_otype:lst_usecol:fountainno.1_time:10105,1680.612831,1.0,oname:hds_otype:lst_usecol:fountainno.1,hds,lst,10105,fountainno.1

In [5]:
#check for nonzero weights
obs_df.weight.value_counts()

weight
1.0    66454
Name: count, dtype: int64

In [6]:
# assign all weight zero
obs_df.loc[:, 'weight'] = 0

# check for non zero weights
obs_df.weight.unique()

array([0.])

### Measured Data

In [7]:
# Assuming you've already read the CSV as df
obs = pd.read_csv('../input-files/data-files/flow-observed-heads.csv')
mod = pd.read_csv('../output-files/head_obs.csv')

In [8]:
# Function to find the closest time in mod for a given time in obs
def find_closest_time(time, mod_times):
    closest_time = min(mod_times, key=lambda x: abs(x - time))
    return closest_time

# Apply the function to the 'time' column in obs
obs['time'] = obs['time'].apply(lambda x: find_closest_time(x, mod['time']))
obs.set_index('time', inplace=True)

In [9]:
obs

,FOUNTAINNO.1,SC01406518ACDT02-MW006,SC01406518CAAMW1-1,SC01406519ABDT04-MW004,SC01406519BBBT01-MW002,SC01406520CDBMW2-4,SC01406527ACB1,SC01406527DDB1BANNING-LEWISRANCHES,SC01406527DDB2,SC01406527DDC1,...,SCO1506602BBBTH-18,SCO1506602BDC,SCO1506602CAA,SCO1506603AAD,SCO1506603BAC,SCO1506604AAA,SCO1506604AABTH-49,SCO1506604ABA2TH-50,SCO1506610BAA,SCO1506611ABCTH-47
time,,,,,,,,,,,,,,,,,,,,,
59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
454.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
639.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
789.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1802.757888,1803.123648,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18077.0,NaN,NaN,1885.504992,1866.912192,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18139.0,NaN,NaN,1886.068872,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18169.0,NaN,NaN,1885.861608,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18200.0,NaN,NaN,1885.633008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18230.0,NaN,1881.307896,1884.981244,1866.781128,1873.142304,1857.134208,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# Initialize an empty list to store the restructured data
df = obs
reshaped_data = []

# Iterate through the columns (each site)
for site in df.columns:
    # Create a temporary DataFrame for each site with time and its corresponding value
    site_data = pd.DataFrame({
        'site': [site] * len(df),  # Repeated site name
        'time': df.index,          # Time (from the index)
        'value': df[site].values   # Observed value for the site
    })
    
    # Append this site-specific DataFrame to the reshaped data list
    reshaped_data.append(site_data)

# Concatenate all site-specific DataFrames into a single DataFrame
reshaped_df = pd.concat(reshaped_data, axis=0, ignore_index=True)

reshaped_df = reshaped_df.dropna()
obs_data=reshaped_df
#obs_data.set_index('site', inplace=True)
obs_data.iloc[:5]

                       site     time        value
34             FOUNTAINNO.1   5753.0  1682.462472
156            FOUNTAINNO.1  17865.0  1682.026608
324  SC01406518ACDT02-MW006  17896.0  1881.350568
327  SC01406518ACDT02-MW006  17986.0  1881.594408
333  SC01406518ACDT02-MW006  18230.0  1881.307896

In [11]:
pest_obs_df= obs_data

In [12]:
# Make the 'usecol' values consistent by converting to lowercase in both DataFrames
obs_df['usecol'] = obs_df['usecol'].str.lower()
pest_obs_df['site'] = pest_obs_df['site'].str.lower()

# Remove the '.0' from the 'time' column in pest_obs_df if it's in float format
pest_obs_df['time'] = pest_obs_df['time'].astype(str).str.replace('.0', '', regex=False)

# Now merge or iterate as before
for idx, row in obs_df.iterrows():
    # Find the matching row in pest_obs_df
    match = pest_obs_df[(pest_obs_df['site'] == row['usecol']) & (pest_obs_df['time'] == row['time'])]
    
    if not match.empty:
        # If a match is found, update 'obsval' and set 'weight' to 1
        obs_df.at[idx, 'obsval'] = match['value'].values[0]
        obs_df.at[idx, 'weight'] = 1
    else:
        # If no match is found, set 'weight' to 0
        obs_df.at[idx, 'weight'] = 0

In [13]:
obs_df

,obsnme,obsval,weight,obgnme,oname,otype,time,usecol
obsnme,,,,,,,,
oname:hds_otype:lst_usecol:fountainno.1_time:10013,oname:hds_otype:lst_usecol:fountainno.1_time:10013,1680.910414,0.0,oname:hds_otype:lst_usecol:fountainno.1,hds,lst,10013,fountainno.1
oname:hds_otype:lst_usecol:fountainno.1_time:10043,oname:hds_otype:lst_usecol:fountainno.1_time:10043,1680.906893,0.0,oname:hds_otype:lst_usecol:fountainno.1,hds,lst,10043,fountainno.1
oname:hds_otype:lst_usecol:fountainno.1_time:1005,oname:hds_otype:lst_usecol:fountainno.1_time:1005,1681.077101,0.0,oname:hds_otype:lst_usecol:fountainno.1,hds,lst,1005,fountainno.1
oname:hds_otype:lst_usecol:fountainno.1_time:10074,oname:hds_otype:lst_usecol:fountainno.1_time:10074,1680.910079,0.0,oname:hds_otype:lst_usecol:fountainno.1,hds,lst,10074,fountainno.1
oname:hds_otype:lst_usecol:fountainno.1_time:10105,oname:hds_otype:lst_usecol:fountainno.1_time:10105,1680.612831,0.0,oname:hds_otype:lst_usecol:fountainno.1,hds,lst,10105,fountainno.1
...,...,...,...,...,...,...,...,...
oname:hds_otype:lst_usecol:sco1506611abcth-47_time:9862,oname:hds_otype:lst_usecol:sco1506611abcth-47_time:9862,1747.745193,0.0,oname:hds_otype:lst_usecol:sco1506611abcth-47,hds,lst,9862,sco1506611abcth-47
oname:hds_otype:lst_usecol:sco1506611abcth-47_time:9893,oname:hds_otype:lst_usecol:sco1506611abcth-47_time:9893,1747.743447,0.0,oname:hds_otype:lst_usecol:sco1506611abcth-47,hds,lst,9893,sco1506611abcth-47
oname:hds_otype:lst_usecol:sco1506611abcth-47_time:9921,oname:hds_otype:lst_usecol:sco1506611abcth-47_time:9921,1743.791280,1.0,oname:hds_otype:lst_usecol:sco1506611abcth-47,hds,lst,9921,sco1506611abcth-47
oname:hds_otype:lst_usecol:sco1506611abcth-47_time:9952,oname:hds_otype:lst_usecol:sco1506611abcth-47_time:9952,1747.740859,0.0,oname:hds_otype:lst_usecol:sco1506611abcth-47,hds,lst,9952,sco1506611abcth-47
oname:hds_otype:lst_usecol:sco1506611abcth-47_time:9982,oname:hds_otype:lst_usecol:sco1506611abcth-47_time:9982,1747.740028,0.0,oname:hds_otype:lst_usecol:sco1506611abcth-47,hds,lst,9982,sco1506611abcth-47

In [14]:
pst.nnz_obs

2747

In [15]:
pst.nnz_obs_groups

['oname:hds_otype:lst_usecol:fountainno.1',
 'oname:hds_otype:lst_usecol:sc01406518acdt02-mw006',
 'oname:hds_otype:lst_usecol:sc01406518caamw1-1',
 'oname:hds_otype:lst_usecol:sc01406519abdt04-mw004',
 'oname:hds_otype:lst_usecol:sc01406519bbbt01-mw002',
 'oname:hds_otype:lst_usecol:sc01406520cdbmw2-4',
 'oname:hds_otype:lst_usecol:sc01406527acb1',
 'oname:hds_otype:lst_usecol:sc01406527ddb1banning-lewisranches',
 'oname:hds_otype:lst_usecol:sc01406527ddb2',
 'oname:hds_otype:lst_usecol:sc01406527ddc1',
 'oname:hds_otype:lst_usecol:sc01406528bbc03-002',
 'oname:hds_otype:lst_usecol:sc01406529bcbt07-mw004',
 'oname:hds_otype:lst_usecol:sc01406529cddpafb07mw03',
 'oname:hds_otype:lst_usecol:sc01406530dbdt07-mw006',
 'oname:hds_otype:lst_usecol:sc01406531bbct13-mw004',
 'oname:hds_otype:lst_usecol:sc01406531cbc04-009',
 'oname:hds_otype:lst_usecol:sc01406531dact11-mw001',
 'oname:hds_otype:lst_usecol:sc01406531dcct12-mw003',
 'oname:hds_otype:lst_usecol:sc01406534aac1',
 'oname:hds_otype:lst_usecol:sc01406534dab1',
 'oname:hds_otype:lst_usecol:sc01406627dcc',
 'oname:hds_otype:lst_usecol:sc01406632ada1u-4(widefield)',
 'oname:hds_otype:lst_usecol:sc01406633cad1',
 'oname:hds_otype:lst_usecol:sc01406633dac2',
 'oname:hds_otype:lst_usecol:sc01406633dbb1u-5',
 'oname:hds_otype:lst_usecol:sc01406633dbb2',
 'oname:hds_otype:lst_usecol:sc01406633dbb3',
 'oname:hds_otype:lst_usecol:sc01406634aaa',
 'oname:hds_otype:lst_usecol:sc01406634ccc1',
 'oname:hds_otype:lst_usecol:sc01406634dbb1',
 'oname:hds_otype:lst_usecol:sc01406634dbb2',
 'oname:hds_otype:lst_usecol:sc01406635caaco259-26',
 'oname:hds_otype:lst_usecol:sc01506503aab2',
 'oname:hds_otype:lst_usecol:sc01506508cab',
 'oname:hds_otype:lst_usecol:sc01506510aab',
 'oname:hds_otype:lst_usecol:sc01506510aba',
 'oname:hds_otype:lst_usecol:sc01506510abb2',
 'oname:hds_otype:lst_usecol:sc01506515daa',
 'oname:hds_otype:lst_usecol:sc01506519bad1nonum-2',
 'oname:hds_otype:lst_usecol:sc01506519bcb1u-17',
 'oname:hds_otype:lst_usecol:sc01506522dba1',
 'oname:hds_otype:lst_usecol:sc01506522dba4',
 'oname:hds_otype:lst_usecol:sc01506522dbb1',
 'oname:hds_otype:lst_usecol:sc01506527aca1',
 'oname:hds_otype:lst_usecol:sc01506528dcd1usgs384231104400600',
 'oname:hds_otype:lst_usecol:sc01506528dcd2',
 'oname:hds_otype:lst_usecol:sc01506530cdafrancois',
 'oname:hds_otype:lst_usecol:sc01506533bdd1',
 'oname:hds_otype:lst_usecol:sc01506602ccc1',
 'oname:hds_otype:lst_usecol:sc01506602ccc2u-9',
 'oname:hds_otype:lst_usecol:sc01506603abath-22',
 'oname:hds_otype:lst_usecol:sc01506603bac1marsgas',
 'oname:hds_otype:lst_usecol:sc01506603bbcth-42',
 'oname:hds_otype:lst_usecol:sc01506603bca2',
 'oname:hds_otype:lst_usecol:sc01506603cab1',
 'oname:hds_otype:lst_usecol:sc01506603cab2',
 'oname:hds_otype:lst_usecol:sc01506603cab3u-08',
 'oname:hds_otype:lst_usecol:sc01506603cab4',
 'oname:hds_otype:lst_usecol:sc01506603cab5',
 'oname:hds_otype:lst_usecol:sc01506603cad1stratmoorhills4',
 'oname:hds_otype:lst_usecol:sc01506603dca1',
 'oname:hds_otype:lst_usecol:sc01506603ddbsecurity14',
 'oname:hds_otype:lst_usecol:sc01506604aba1u-7',
 'oname:hds_otype:lst_usecol:sc01506604acath-52',
 'oname:hds_otype:lst_usecol:sc01506610adb1th-7',
 'oname:hds_otype:lst_usecol:sc01506610adb2th-46',
 'oname:hds_otype:lst_usecol:sc01506611acd1u-10',
 'oname:hds_otype:lst_usecol:sc01506611bbb2',
 'oname:hds_otype:lst_usecol:sc01506611bca',
 'oname:hds_otype:lst_usecol:sc01506611bdc2',
 'oname:hds_otype:lst_usecol:sc01506611bdc3u-11',
 'oname:hds_otype:lst_usecol:sc01506611bdc',
 'oname:hds_otype:lst_usecol:sc01506611caa',
 'oname:hds_otype:lst_usecol:sc01506611cdb',
 'oname:hds_otype:lst_usecol:sc01506611cdd1',
 'oname:hds_otype:lst_usecol:sc01506611cdd2u-12',
 'oname:hds_otype:lst_usecol:sc01506611dcb2',
 'oname:hds_otype:lst_usecol:sc01506612aba',
 'oname:hds_otype:lst_usecol:sc01506612cdcco259-25',
 'oname:hds_otype:lst_usecol:sc01506613add',
 'oname:hds_otype:lst_usecol:sc01506613bcc2',
 'oname:hds_otype:lst_usecol:sc01506613cbd1u-14b',
 'oname:hds_otype:lst_usecol:sc01506613cbd2u-14',
 'oname:hds_otype:lst_usecol:sc01506613cca',
 'oname:hds_otype:lst_usecol:sc01506613cdd',
 'oname:hds_otype:lst_usecol:sc01506613ddc1u-15',
 'oname:hds_otype:lst_usecol:sc01506614aac2',
 'oname:hds_otype:lst_usecol:sc01506614aadsecurity2',
 'oname:hds_otype:lst_usecol:sc01506614abb',
 'oname:hds_otype:lst_usecol:sc01506614add',
 'oname:hds_otype:lst_usecol:sc01506614baa',
 'oname:hds_otype:lst_usecol:sc01506614bbath-5',
 'oname:hds_otype:lst_usecol:sc01506614daa1u-13',
 'oname:hds_otype:lst_usecol:sc01506614dad1',
 'oname:hds_otype:lst_usecol:sc01506619ada2',
 'oname:hds_otype:lst_usecol:sc01506624abc1',
 'oname:hds_otype:lst_usecol:sc01506624abc2u-16',
 'oname:hds_otype:lst_usecol:sc01506624baa1',
 'oname:hds_otype:lst_usecol:sc01506624bad1widefield4',
 'oname:hds_otype:lst_usecol:sc01506624dab2u-18',
 'oname:hds_otype:lst_usecol:sc01506624dbd2u-19',
 'oname:hds_otype:lst_usecol:sc01506624dbd3',
 'oname:hds_otype:lst_usecol:sc01506624dca1',
 'oname:hds_otype:lst_usecol:sc01506625aaa1',
 'oname:hds_otype:lst_usecol:sc01606504bbb',
 'oname:hds_otype:lst_usecol:sc01606505adausgs384122104410000',
 'oname:hds_otype:lst_usecol:sc01606505add',
 'oname:hds_otype:lst_usecol:sc01606505ccbfountain3',
 'oname:hds_otype:lst_usecol:sc01606505dcd',
 'oname:hds_otype:lst_usecol:sc01606505ddc2',
 'oname:hds_otype:lst_usecol:sc01606505ddc',
 'oname:hds_otype:lst_usecol:sc01606506abb1',
 'oname:hds_otype:lst_usecol:sc01606506abb2',
 'oname:hds_otype:lst_usecol:sc01606506abb3',
 'oname:hds_otype:lst_usecol:sc01606506abb4',
 'oname:hds_otype:lst_usecol:sc01606506acc1',
 'oname:hds_otype:lst_usecol:sc01606506daafountain2',
 'oname:hds_otype:lst_usecol:sc01606506dab1',
 'oname:hds_otype:lst_usecol:sc01606506dab2',
 'oname:hds_otype:lst_usecol:sc01606508aab',
 'oname:hds_otype:lst_usecol:sc01606508dba1delbertwellswell1',
 'oname:hds_otype:lst_usecol:sc01606508dbb',
 'oname:hds_otype:lst_usecol:sc01606508dcb',
 'oname:hds_otype:lst_usecol:sc01606508dcc',
 'oname:hds_otype:lst_usecol:sc01606516bba1',
 'oname:hds_otype:lst_usecol:sc01606516ccc1',
 'oname:hds_otype:lst_usecol:sc01606517aaa1',
 'oname:hds_otype:lst_usecol:sc01606517aaa2',
 'oname:hds_otype:lst_usecol:sc01606517dda',
 'oname:hds_otype:lst_usecol:sc01606520aaa1',
 'oname:hds_otype:lst_usecol:sc01606520aab',
 'oname:hds_otype:lst_usecol:sc01606521bab',
 'oname:hds_otype:lst_usecol:sc01606521bba1',
 'oname:hds_otype:lst_usecol:sc01606521bbc',
 'oname:hds_otype:lst_usecol:sc01606521bcb',
 'oname:hds_otype:lst_usecol:sco1406633dac2',
 'oname:hds_otype:lst_usecol:sco1406634ccd',
 'oname:hds_otype:lst_usecol:sco1416633dac1',
 'oname:hds_otype:lst_usecol:sco1506601bbdth-53',
 'oname:hds_otype:lst_usecol:sco1506602bbbth-18',
 'oname:hds_otype:lst_usecol:sco1506602bdc',
 'oname:hds_otype:lst_usecol:sco1506602caa',
 'oname:hds_otype:lst_usecol:sco1506603aad',
 'oname:hds_otype:lst_usecol:sco1506603bac',
 'oname:hds_otype:lst_usecol:sco1506604aaa',
 'oname:hds_otype:lst_usecol:sco1506604aabth-49',
 'oname:hds_otype:lst_usecol:sco1506604aba2th-50',
 'oname:hds_otype:lst_usecol:sco1506610baa',
 'oname:hds_otype:lst_usecol:sco1506611abcth-47']

In [16]:
pst.nnz_obs

2747

In [17]:
# check noptmax
pst.control_data.noptmax

0

In [18]:
pst.control_data.noptmax = -1

In [19]:
pst.write(os.path.join(t_d,pst_file),version=2)

noptmax:-1, npar_adj:4, nnz_obs:2747

In [20]:
import os
import psutil
import pyemu
import time
import glob
import subprocess

In [21]:
pst.write_par_summary_table(filename="none")

,type,transform,count,initial value,lower bound,upper bound,standard deviation
rch_inst:0,rch_inst:0,log,4,-1,-3,-0.69897,0.575257

In [22]:
num_workers = psutil.cpu_count(logical=False) # update according to your available resources!

In [23]:
pst.npar_adj

4

In [24]:
m_d = os.path.join('../master_glm_1')

In [25]:
pyemu.os_utils.start_workers(t_d,"pestpp-glm","peterson_mf6.pst",num_workers=num_workers,worker_root="..",
                           master_dir=m_d, )